.aboutContainer {
    width: 60%;
    height: 60%;
    margin: 20% 20%;
}

.aboutTitle {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
}

.paragraph {
    font-size: 20px;
}