.aboutContainer {
    width: 60%;
    height: 60%;
    margin: 20% 20%;
    background-color: rgb(41, 41, 41);
    padding: 15px;
}

.aboutTitle {
    text-align: center;
    border-bottom: 1px solid white;
    margin-bottom: 5px;
    padding: 15px;
    background-color: rgb(88, 88, 88);
}

.paragraph {
    font-size: 20px;
    background-color: rgb(41, 41, 41);
}

button {
    color: black;
}

textarea {
    color: black;
}